body {
    background-color: #80d4ea;
}

.time {
    height: 100px;
    width: 800px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    font-family: courier, monospace;
    text-align: center;
    color: white;
    font-size: 100px;
}

#clock {
    padding-bottom: 1em;
}

#date {
    padding-top: 1em;
    font-size: 80px;
    color: hsla(360, 100%, 100%, 0.79);
}
